Importing Modules

In [ ]:
import pandas as pd
import numpy as np

Doing additional work on the files from the first clean

In [ ]:
## Reading the text files from the first clean

table = pd.read_table("Data/amegfi/2019_ebd_amegfi_Feb-2024.txt", encoding = 'cp1252')

C:\Users\corpt\AppData\Local\Temp\ipykernel_33716\1132106954.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  table = pd.read_table("Data/amegfi/2019_ebd_amegfi_Feb-2024.txt", encoding = 'cp1252')

In [ ]:
print(table.info())

## Dropping all observations which did not report all the species (not reliable I guess?)

table = table[table['ALL SPECIES REPORTED'] == 1]

## Dropping redundant or useless columns

table1 = table.drop(['HAS MEDIA',
                      'APPROVED',
                      'REVIEWED',
                      'REASON',
                      'COUNTRY',
                      'COUNTY',
                      'STATE',
                      'ALL SPECIES REPORTED'], axis = 1)

print(table1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085173 entries, 0 to 1085172
Data columns (total 34 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   GLOBAL UNIQUE IDENTIFIER    1085173 non-null  object
 1   SCIENTIFIC NAME             1085173 non-null  object
 2   SUBSPECIES SCIENTIFIC NAME  0 non-null        float64
 3   EXOTIC CODE                 0 non-null        float64
 4   OBSERVATION COUNT           1085173 non-null  object
 5   COUNTRY                     1085173 non-null  object
 6   STATE                       1085173 non-null  object
 7   COUNTY                      1085114 non-null  object
 8   IBA CODE                    193148 non-null   object
 9   BCR CODE                    1040917 non-null  float64
 10  USFWS CODE                  25367 non-null    object
 11  LOCALITY ID                 1085173 non-null  object
 12  LATITUDE                    1085173 non-null  float64
 13  LONGITUDE                   1085173 non-null  float64
 14  OBSERVATION DATE            1085173 non-null  object
 15  TIME OBSERVATIONS STARTED   1075201 non-null  object
 16  OBSERVER ID                 1085173 non-null  object
 17  SAMPLING EVENT IDENTIFIER   1085173 non-null  object
 18  PROTOCOL TYPE               1085173 non-null  object
 19  PROTOCOL CODE               1085173 non-null  object
 20  PROJECT CODE                1085173 non-null  object
 21  DURATION MINUTES            1036442 non-null  float64
 22  EFFORT DISTANCE KM          658920 non-null   float64
 23  EFFORT AREA HA              8035 non-null     float64
 24  NUMBER OBSERVERS            1078826 non-null  float64
 25  ALL SPECIES REPORTED        1085173 non-null  int64
 26  GROUP IDENTIFIER            268296 non-null   object
 27  HAS MEDIA                   1085173 non-null  int64
 28  APPROVED                    1085173 non-null  int64
 29  REVIEWED                    1085173 non-null  int64
 30  REASON                      0 non-null        float64
 31  YEAR                        1085173 non-null  int64
 32  WEEK                        1085173 non-null  int64
 33  DAY                         1085173 non-null  int64
dtypes: float64(10), int64(7), object(17)
memory usage: 281.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 1030009 entries, 0 to 1085172
Data columns (total 26 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   GLOBAL UNIQUE IDENTIFIER    1030009 non-null  object
 1   SCIENTIFIC NAME             1030009 non-null  object
 2   SUBSPECIES SCIENTIFIC NAME  0 non-null        float64
 3   EXOTIC CODE                 0 non-null        float64
 4   OBSERVATION COUNT           1030009 non-null  object
 5   IBA CODE                    186367 non-null   object
 6   BCR CODE                    987524 non-null   float64
 7   USFWS CODE                  24696 non-null    object
 8   LOCALITY ID                 1030009 non-null  object
 9   LATITUDE                    1030009 non-null  float64
 10  LONGITUDE                   1030009 non-null  float64
 11  OBSERVATION DATE            1030009 non-null  object
 12  TIME OBSERVATIONS STARTED   1024933 non-null  object
 13  OBSERVER ID                 1030009 non-null  object
 14  SAMPLING EVENT IDENTIFIER   1030009 non-null  object
 15  PROTOCOL TYPE               1030009 non-null  object
 16  PROTOCOL CODE               1030009 non-null  object
 17  PROJECT CODE                1030009 non-null  object
 18  DURATION MINUTES            1023785 non-null  float64
 19  EFFORT DISTANCE KM          651996 non-null   float64
 20  EFFORT AREA HA              7728 non-null     float64
 21  NUMBER OBSERVERS            1027293 non-null  float64
 22  GROUP IDENTIFIER            260624 non-null   object
 23  YEAR                        1030009 non-null  int64
 24  WEEK                        1030009 non-null  int64
 25  DAY                         1030009 non-null  int64
dtypes: float64(9), int64(3), object(14)
memory usage: 212.2+ MB
None

In [ ]:
## Adjusting latitude and longitude by rounding down to the nearest whole number

table1['LATITUDE'] = (table1['LATITUDE']*10)//10
table1['LONGITUDE'] = (table1['LONGITUDE']*10)//10
table1.head(20)

,GLOBAL UNIQUE IDENTIFIER,SCIENTIFIC NAME,SUBSPECIES SCIENTIFIC NAME,EXOTIC CODE,OBSERVATION COUNT,IBA CODE,BCR CODE,USFWS CODE,LOCALITY ID,LATITUDE,...,PROTOCOL CODE,PROJECT CODE,DURATION MINUTES,EFFORT DISTANCE KM,EFFORT AREA HA,NUMBER OBSERVERS,GROUP IDENTIFIER,YEAR,WEEK,DAY
0,URN:CornellLabOfOrnithology:EBIRD:OBS722805194,Spinus tristis,NaN,NaN,5,NaN,14.0,NaN,L248781,47.0,...,P22,EBIRD,90.0,5.000,NaN,2.0,NaN,2019,10,66
1,URN:CornellLabOfOrnithology:EBIRD:OBS724539232,Spinus tristis,NaN,NaN,1,NaN,14.0,NaN,L7788609,47.0,...,P21,EBIRD,10.0,NaN,NaN,1.0,NaN,2019,11,73
2,URN:CornellLabOfOrnithology:EBIRD:OBS754403994,Spinus tristis,NaN,NaN,2,NaN,14.0,NaN,L9223386,47.0,...,P21,EBIRD,360.0,NaN,NaN,1.0,NaN,2019,18,124
3,URN:CornellLabOfOrnithology:EBIRD:OBS779052890,Spinus tristis,NaN,NaN,2,NaN,14.0,NaN,L9535567,47.0,...,P21,EBIRD,30.0,NaN,NaN,2.0,NaN,2019,26,176
4,URN:CornellLabOfOrnithology:EBIRD:OBS779054441,Spinus tristis,NaN,NaN,3,NaN,14.0,NaN,L9535589,47.0,...,P22,EBIRD,41.0,1.201,NaN,2.0,NaN,2019,26,176
6,URN:CornellLabOfOrnithology:EBIRD:OBS779148226,Spinus tristis,NaN,NaN,2,NaN,14.0,NaN,L9535567,47.0,...,P21,EBIRD,30.0,NaN,NaN,1.0,NaN,2019,26,177
8,URN:CornellLabOfOrnithology:EBIRD:OBS835594943,Spinus tristis,NaN,NaN,4,NaN,14.0,NaN,L3900885,47.0,...,P22,EBIRD,135.0,2.000,NaN,2.0,G4727287,2019,28,192
9,URN:CornellLabOfOrnithology:EBIRD:OBS781379981,Spinus tristis,NaN,NaN,2,NaN,14.0,NaN,L247759,47.0,...,P22,EBIRD,71.0,2.190,NaN,1.0,NaN,2019,27,183
10,URN:CornellLabOfOrnithology:EBIRD:OBS787409415,Spinus tristis,NaN,NaN,8,NaN,14.0,NaN,L9679233,47.0,...,P22,EBIRD,120.0,1.000,NaN,1.0,NaN,2019,29,202
11,URN:CornellLabOfOrnithology:EBIRD:OBS835595016,Spinus tristis,NaN,NaN,4,NaN,14.0,NaN,L3900885,47.0,...,P22,EBIRD,135.0,2.000,NaN,2.0,G4727287,2019,28,192
13,URN:CornellLabOfOrnithology:EBIRD:OBS793398418,Spinus tristis,NaN,NaN,2,NaN,14.0,NaN,L3900885,47.0,...,P22,EBIRD,12.0,0.483,NaN,1.0,NaN,2019,32,222
14,URN:CornellLabOfOrnithology:EBIRD:OBS791756570,Spinus tristis,NaN,NaN,5,NaN,14.0,NaN,L7788609,47.0,...,P22,EBIRD,60.0,1.000,NaN,1.0,NaN,2019,31,214
15,URN:CornellLabOfOrnithology:EBIRD:OBS809609475,Spinus tristis,NaN,NaN,5,NaN,14.0,NaN,L9957324,47.0,...,P22,EBIRD,16.0,0.584,NaN,4.0,NaN,2019,39,268
16,URN:CornellLabOfOrnithology:EBIRD:OBS833688656,Spinus tristis,NaN,NaN,1,NaN,14.0,NaN,L10222193,47.0,...,P21,EBIRD,60.0,NaN,NaN,6.0,NaN,2019,48,335
18,URN:CornellLabOfOrnithology:EBIRD:OBS834790679,Spinus tristis,NaN,NaN,22,NaN,14.0,NaN,L10222193,47.0,...,P21,EBIRD,360.0,NaN,NaN,1.0,NaN,2019,49,338
19,URN:CornellLabOfOrnithology:EBIRD:OBS834994027,Spinus tristis,NaN,NaN,50,NaN,14.0,NaN,L3900885,47.0,...,P22,EBIRD,120.0,3.000,NaN,1.0,NaN,2019,49,339
20,URN:CornellLabOfOrnithology:EBIRD:OBS834134138,Spinus tristis,NaN,NaN,13,NaN,14.0,NaN,L3900885,47.0,...,P22,EBIRD,105.0,3.000,NaN,1.0,NaN,2019,49,336
21,URN:CornellLabOfOrnithology:EBIRD:OBS834133001,Spinus tristis,NaN,NaN,5,NaN,14.0,NaN,L10222193,47.0,...,P21,EBIRD,45.0,NaN,NaN,1.0,NaN,2019,49,336
22,URN:CornellLabOfOrnithology:EBIRD:OBS833746241,Spinus tristis,NaN,NaN,12,NaN,14.0,NaN,L10222193,47.0,...,P21,EBIRD,30.0,NaN,NaN,1.0,NaN,2019,48,335
23,URN:CornellLabOfOrnithology:EBIRD:OBS701856746,Spinus tristis,NaN,NaN,2,NaN,12.0,NaN,L5690814,46.0,...,P21,EBIRD,7.0,NaN,NaN,1.0,NaN,2019,4,23

In [ ]:
## Here I separated the observations that were made as a group (table_grp)
## and the observations that were made individually (table_ivd)

table2 = table1.copy()

grps = table2[table2['GROUP IDENTIFIER'].notnull()]
individs = table2.drop(grps.index, axis = 0)

print(grps.info())

print(grps['GROUP IDENTIFIER'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Index: 260624 entries, 8 to 1085167
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GLOBAL UNIQUE IDENTIFIER    260624 non-null  object
 1   SCIENTIFIC NAME             260624 non-null  object
 2   SUBSPECIES SCIENTIFIC NAME  0 non-null       float64
 3   EXOTIC CODE                 0 non-null       float64
 4   OBSERVATION COUNT           260624 non-null  object
 5   IBA CODE                    65815 non-null   object
 6   BCR CODE                    245221 non-null  float64
 7   USFWS CODE                  9882 non-null    object
 8   LOCALITY ID                 260624 non-null  object
 9   LATITUDE                    260624 non-null  float64
 10  LONGITUDE                   260624 non-null  float64
 11  OBSERVATION DATE            260624 non-null  object
 12  TIME OBSERVATIONS STARTED   260496 non-null  object
 13  OBSERVER ID                 260624 non-null  object
 14  SAMPLING EVENT IDENTIFIER   260624 non-null  object
 15  PROTOCOL TYPE               260624 non-null  object
 16  PROTOCOL CODE               260624 non-null  object
 17  PROJECT CODE                260624 non-null  object
 18  DURATION MINUTES            260444 non-null  float64
 19  EFFORT DISTANCE KM          200829 non-null  float64
 20  EFFORT AREA HA              2015 non-null    float64
 21  NUMBER OBSERVERS            260577 non-null  float64
 22  GROUP IDENTIFIER            260624 non-null  object
 23  YEAR                        260624 non-null  int64
 24  WEEK                        260624 non-null  int64
 25  DAY                         260624 non-null  int64
dtypes: float64(9), int64(3), object(14)
memory usage: 53.7+ MB
None
GROUP IDENTIFIER
G4019963    26
G4362490    25
G4355952    24
G4362494    24
G3896469    24
            ..
G4431222     1
G4436708     1
G9659754     1
G4203930     1
G4499250     1
Name: count, Length: 107379, dtype: int64

In [ ]:
## This is the first step at getting rid of duplicates (Group observations)

newidcol = {}
grpstoinds = {}
grpnames = []
badinds = []


for i in grps.index:
    groupid = grps['GROUP IDENTIFIER'][i]
    ismember = False
    date_error = False
    for name in grpnames:
        if name == groupid:
            ind = grpstoinds[groupid]
            newidcol[ind] += ('&' + grps.loc[i,'GLOBAL UNIQUE IDENTIFIER'])
            if grps.loc[ind, 'DAY'] != grps.loc[i, 'DAY']:
                date_error = True
            badinds.append(i)
            ismember = True
            break
    if ismember == False:
        grpstoinds[groupid] = i
        grpnames.insert(0,groupid)
        newidcol[i] = grps.loc[i,'GLOBAL UNIQUE IDENTIFIER']
        if len(grpnames) > 300:
            for name in grpnames[250:300]:
                del grpstoinds[name]
            del grpnames[250:300]

print(date_error)

False

In [ ]:
## The first step did some work

grps2 = grps.drop(badinds)
grps2['GLOBAL UNIQUE IDENTIFIER'] = newidcol
names2 = grps2['GROUP IDENTIFIER'].value_counts()
print(names2)
print (grps2['GLOBAL UNIQUE IDENTIFIER'].head())

GROUP IDENTIFIER
G4179561    5
G4164029    5
G4153768    5
G4156135    5
G4142365    4
           ..
G3899100    1
G5057453    1
G5057494    1
G5057445    1
G4794926    1
Name: count, Length: 107379, dtype: int64
8      URN:CornellLabOfOrnithology:EBIRD:OBS835594943...
37     URN:CornellLabOfOrnithology:EBIRD:OBS694579138...
59     URN:CornellLabOfOrnithology:EBIRD:OBS698704273...
90     URN:CornellLabOfOrnithology:EBIRD:OBS694569874...
109    URN:CornellLabOfOrnithology:EBIRD:OBS711789462...
Name: GLOBAL UNIQUE IDENTIFIER, dtype: object

In [ ]:
## This is the second step that completely removes all duplicates

bnames = []
for ind in names2.index:
    if names2[ind] > 1:
        bnames.append(ind)
print(len(bnames))

newidcol = {}
grpstoinds = {name : -1 for name in bnames}
badinds = []
date_error = False

for i in grps2.index:
    groupid = grps2['GROUP IDENTIFIER'][i]
    ismember = False
    for name in bnames:
        if name == groupid:
            if grpstoinds[name] == -1:
                grpstoinds[name] = i
                newidcol[i] = grps2.loc[i,'GLOBAL UNIQUE IDENTIFIER']
            else:
                ind = grpstoinds[groupid]
                newidcol[ind] += ('&' + grps2.loc[i,'GLOBAL UNIQUE IDENTIFIER'])
                if grps2.loc[ind,'DAY'] != grps2.loc[i,'DAY']:
                    date_error = True
                badinds.append(i)

print(date_error)

grps3 = grps2.drop(badinds)

for ind, uids in newidcol.items():
    grps3.loc[ind, 'GLOBAL UNIQUE IDENTIFIER'] = uids

names3 = grps3['GROUP IDENTIFIER'].value_counts()
bnames = []
for ind in names3.index:
    if names3[ind] > 1:
        bnames.append(ind)

print(bnames)

1123
False
[]

In [ ]:
print(grps3['GLOBAL UNIQUE IDENTIFIER'].head())

8      URN:CornellLabOfOrnithology:EBIRD:OBS835594943...
37     URN:CornellLabOfOrnithology:EBIRD:OBS694579138...
59     URN:CornellLabOfOrnithology:EBIRD:OBS698704273...
90     URN:CornellLabOfOrnithology:EBIRD:OBS694569874...
109    URN:CornellLabOfOrnithology:EBIRD:OBS711789462...
Name: GLOBAL UNIQUE IDENTIFIER, dtype: object

In [ ]:
## Some observations have 'X' in the observation count so we have to drop those

table3 = pd.concat([individs,grps3])

badinds = []

for i in table3.index:
    if table3.loc[i,'OBSERVATION COUNT'].isdigit() == False:
        badinds.append(i)
print(len(badinds))

11485

In [ ]:
## Dropping columns that we are not going to use

table4 = table3.drop(badinds)
table4.info()

def is_in(sth, iterable):
    for item in iterable:
        if sth == item:
            return True
    return False

dropcols = [col for col in table4.columns if is_in(col,['OBSERVATION COUNT',
                                                        'OBSERVATION DATE',
                                                        'IBA CODE',
                                                        'BCR CODE',
                                                        'USFWS CODE',
                                                        'DURATION MINUTES',
                                                        'LATITUDE',
                                                        'LONGITUDE',
                                                        'YEAR',
                                                        'WEEK',
                                                        'DAY']) == False]

<class 'pandas.core.frame.DataFrame'>
Index: 865279 entries, 0 to 1085146
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GLOBAL UNIQUE IDENTIFIER    865279 non-null  object
 1   SCIENTIFIC NAME             865279 non-null  object
 2   SUBSPECIES SCIENTIFIC NAME  0 non-null       float64
 3   EXOTIC CODE                 0 non-null       float64
 4   OBSERVATION COUNT           865279 non-null  object
 5   IBA CODE                    143406 non-null  object
 6   BCR CODE                    832687 non-null  float64
 7   USFWS CODE                  17972 non-null   object
 8   LOCALITY ID                 865279 non-null  object
 9   LATITUDE                    865279 non-null  float64
 10  LONGITUDE                   865279 non-null  float64
 11  OBSERVATION DATE            865279 non-null  object
 12  TIME OBSERVATIONS STARTED   861364 non-null  object
 13  OBSERVER ID                 865279 non-null  object
 14  SAMPLING EVENT IDENTIFIER   865279 non-null  object
 15  PROTOCOL TYPE               865279 non-null  object
 16  PROTOCOL CODE               865279 non-null  object
 17  PROJECT CODE                865279 non-null  object
 18  DURATION MINUTES            860638 non-null  float64
 19  EFFORT DISTANCE KM          525322 non-null  float64
 20  EFFORT AREA HA              6320 non-null    float64
 21  NUMBER OBSERVERS            863500 non-null  float64
 22  GROUP IDENTIFIER            106402 non-null  object
 23  YEAR                        865279 non-null  int64
 24  WEEK                        865279 non-null  int64
 25  DAY                         865279 non-null  int64
dtypes: float64(9), int64(3), object(14)
memory usage: 178.2+ MB

In [ ]:
## We create separate columns containing month, day, and year info
## We also simplify the information in the columns for IBA CODE, BCR CODE, and USFWS CODE

table5 = table4.drop(dropcols, axis = 1)
table5['IBA CODE'] = table5['IBA CODE'].notnull()
table5['BCR CODE'] = table5['BCR CODE'].notnull()
table5['USFWS CODE'] = table5['USFWS CODE'].notnull()

def get_mmdd(year,month, day):
    if (year < 1) or (day < 1):
        print('Error: wrong date')
        return None
    leap_year = False
    if year%4 == 0:
        leap_year = True
    if is_in(month, [4,6,9,11]):
        if day <= 30:
            return [month,day]
        else:
            return get_mmdd(year,month+1, day-30)
    elif month == 2:
        if day <= 28 + leap_year:
            return [month,day]
        else:
            return get_mmdd(year,month+1, day-28-leap_year)
    else:
        if day <= 31:
            return [month,day]
        else:
            return get_mmdd(year,month+1, day-31)

table5 = table5.rename(columns = {'WEEK' : 'MONTH'})

table5['MONTH'] = table5['DAY'].apply(lambda x: get_mmdd(2019,1,x)[0])
table5['DAY'] = table5['DAY'].apply(lambda x: get_mmdd(2019,1,x)[1])
table5['OBSERVATION COUNT'] = table5['OBSERVATION COUNT'].apply(lambda x: int(x))
table5 = table5.dropna()


print(table5.info())
print(table5.head(20))

<class 'pandas.core.frame.DataFrame'>
Index: 860638 entries, 0 to 1085146
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OBSERVATION COUNT  860638 non-null  int64
 1   IBA CODE           860638 non-null  bool
 2   BCR CODE           860638 non-null  bool
 3   USFWS CODE         860638 non-null  bool
 4   LATITUDE           860638 non-null  float64
 5   LONGITUDE          860638 non-null  float64
 6   OBSERVATION DATE   860638 non-null  object
 7   DURATION MINUTES   860638 non-null  float64
 8   YEAR               860638 non-null  int64
 9   MONTH              860638 non-null  int64
 10  DAY                860638 non-null  int64
dtypes: bool(3), float64(3), int64(4), object(1)
memory usage: 61.6+ MB
None
    OBSERVATION COUNT  IBA CODE  BCR CODE  USFWS CODE  LATITUDE  LONGITUDE  \
0                   5     False      True       False      47.0      -69.0
1                   1     False      True       False      47.0      -69.0
2                   2     False      True       False      47.0      -69.0
3                   2     False      True       False      47.0      -69.0
4                   3     False      True       False      47.0      -69.0
6                   2     False      True       False      47.0      -69.0
9                   2     False      True       False      47.0      -69.0
10                  8     False      True       False      47.0      -69.0
13                  2     False      True       False      47.0      -69.0
14                  5     False      True       False      47.0      -69.0
15                  5     False      True       False      47.0      -69.0
16                  1     False      True       False      47.0      -69.0
18                 22     False      True       False      47.0      -69.0
19                 50     False      True       False      47.0      -69.0
20                 13     False      True       False      47.0      -69.0
21                  5     False      True       False      47.0      -69.0
22                 12     False      True       False      47.0      -69.0
23                  2     False      True       False      46.0      -84.0
24                  4     False     False       False      46.0      -85.0
25                 27     False      True       False      46.0      -84.0

   OBSERVATION DATE  DURATION MINUTES  YEAR  MONTH  DAY
0        2019-03-07              90.0  2019      3    7
1        2019-03-14              10.0  2019      3   14
2        2019-05-04             360.0  2019      5    4
3        2019-06-25              30.0  2019      6   25
4        2019-06-25              41.0  2019      6   25
6        2019-06-26              30.0  2019      6   26
9        2019-07-02              71.0  2019      7    2
10       2019-07-21             120.0  2019      7   21
13       2019-08-10              12.0  2019      8   10
14       2019-08-02              60.0  2019      8    2
15       2019-09-25              16.0  2019      9   25
16       2019-12-01              60.0  2019     12    1
18       2019-12-04             360.0  2019     12    4
19       2019-12-05             120.0  2019     12    5
20       2019-12-02             105.0  2019     12    2
21       2019-12-02              45.0  2019     12    2
22       2019-12-01              30.0  2019     12    1
23       2019-01-23               7.0  2019      1   23
24       2019-01-05              30.0  2019      1    5
25       2019-01-30              10.0  2019      1   30

In [ ]:
table5['COUNT'] = np.ones((len(table5['DAY']),1))

table5['INDEX'] = range(len(table5.index))

table6 = table5.set_index(['YEAR', 'MONTH', 'DAY', 'LATITUDE', 'LONGITUDE', 'INDEX']).sort_index()


print(table6.head(20))

                                          OBSERVATION COUNT  IBA CODE  \
YEAR MONTH DAY LATITUDE LONGITUDE INDEX
2019 1     1   28.0     -97.0     659966                  4      True
                                  659968                  9     False
                                  660000                 50     False
                                  660005                  5     False
                                  848143                  2      True
                                  848149                 16      True
                        -96.0     660307                  6     False
                                  660358                  4     False
                        -83.0     132784                  1     False
                                  132786                  1     False
                                  132798                  1     False
                                  132808                  7     False
                                  132820                  1     False
                                  132823                  4     False
                                  134249                 12     False
                                  134288                  1     False
                                  134289                  1     False
                                  136788                  9     False
                                  136937                  2     False
                                  136950                  1     False

                                          BCR CODE  USFWS CODE  \
YEAR MONTH DAY LATITUDE LONGITUDE INDEX
2019 1     1   28.0     -97.0     659966      True        True
                                  659968      True       False
                                  660000      True       False
                                  660005      True       False
                                  848143      True        True
                                  848149      True        True
                        -96.0     660307      True        True
                                  660358      True        True
                        -83.0     132784      True       False
                                  132786      True       False
                                  132798      True       False
                                  132808      True       False
                                  132820      True       False
                                  132823      True       False
                                  134249      True       False
                                  134288      True       False
                                  134289      True       False
                                  136788      True       False
                                  136937      True       False
                                  136950      True       False

                                         OBSERVATION DATE  DURATION MINUTES  \
YEAR MONTH DAY LATITUDE LONGITUDE INDEX
2019 1     1   28.0     -97.0     659966       2019-01-01             196.0
                                  659968       2019-01-01              56.0
                                  660000       2019-01-01             135.0
                                  660005       2019-01-01              13.0
                                  848143       2019-01-01             129.0
                                  848149       2019-01-01              14.0
                        -96.0     660307       2019-01-01              90.0
                                  660358       2019-01-01             150.0
                        -83.0     132784       2019-01-01              46.0
                                  132786       2019-01-01             180.0
                                  132798       2019-01-01              84.0
                                  132808       2019-01-01             127.0
                                  132820       2019-01-01             135.0
                                  132823       2019-01-01              90.0
                                  134249       2019-01-01              20.0
                                  134288       2019-01-01              45.0
                                  134289       2019-01-01              90.0
                                  136788       2019-01-01             125.0
                                  136937       2019-01-01              50.0
                                  136950       2019-01-01              22.0

                                          COUNT
YEAR MONTH DAY LATITUDE LONGITUDE INDEX
2019 1     1   28.0     -97.0     659966    1.0
                                  659968    1.0
                                  660000    1.0
                                  660005    1.0
                                  848143    1.0
                                  848149    1.0
                        -96.0     660307    1.0
                                  660358    1.0
                        -83.0     132784    1.0
                                  132786    1.0
                                  132798    1.0
                                  132808    1.0
                                  132820    1.0
                                  132823    1.0
                                  134249    1.0
                                  134288    1.0
                                  134289    1.0
                                  136788    1.0
                                  136937    1.0
                                  136950    1.0

In [ ]:
table6.to_csv("Data/amegfi/2019_ebd_amegfi_Feb-2024_secondclean.csv",
          index=True)

In [ ]:
print(table5.head(20))

table_agg = table5.drop(['OBSERVATION DATE', 'INDEX'], axis = 1).groupby(['YEAR', 'MONTH', 'DAY', 'LATITUDE', 'LONGITUDE']).sum()

print(table_agg.index)
print(table_agg.head())

    OBSERVATION COUNT  IBA CODE  BCR CODE  USFWS CODE  LATITUDE  LONGITUDE  \
0                   5     False      True       False      47.0      -69.0
1                   1     False      True       False      47.0      -69.0
2                   2     False      True       False      47.0      -69.0
3                   2     False      True       False      47.0      -69.0
4                   3     False      True       False      47.0      -69.0
6                   2     False      True       False      47.0      -69.0
9                   2     False      True       False      47.0      -69.0
10                  8     False      True       False      47.0      -69.0
13                  2     False      True       False      47.0      -69.0
14                  5     False      True       False      47.0      -69.0
15                  5     False      True       False      47.0      -69.0
16                  1     False      True       False      47.0      -69.0
18                 22     False      True       False      47.0      -69.0
19                 50     False      True       False      47.0      -69.0
20                 13     False      True       False      47.0      -69.0
21                  5     False      True       False      47.0      -69.0
22                 12     False      True       False      47.0      -69.0
23                  2     False      True       False      46.0      -84.0
24                  4     False     False       False      46.0      -85.0
25                 27     False      True       False      46.0      -84.0

   OBSERVATION DATE  DURATION MINUTES  YEAR  MONTH  DAY  COUNT  INDEX
0        2019-03-07              90.0  2019      3    7    1.0      0
1        2019-03-14              10.0  2019      3   14    1.0      1
2        2019-05-04             360.0  2019      5    4    1.0      2
3        2019-06-25              30.0  2019      6   25    1.0      3
4        2019-06-25              41.0  2019      6   25    1.0      4
6        2019-06-26              30.0  2019      6   26    1.0      5
9        2019-07-02              71.0  2019      7    2    1.0      6
10       2019-07-21             120.0  2019      7   21    1.0      7
13       2019-08-10              12.0  2019      8   10    1.0      8
14       2019-08-02              60.0  2019      8    2    1.0      9
15       2019-09-25              16.0  2019      9   25    1.0     10
16       2019-12-01              60.0  2019     12    1    1.0     11
18       2019-12-04             360.0  2019     12    4    1.0     12
19       2019-12-05             120.0  2019     12    5    1.0     13
20       2019-12-02             105.0  2019     12    2    1.0     14
21       2019-12-02              45.0  2019     12    2    1.0     15
22       2019-12-01              30.0  2019     12    1    1.0     16
23       2019-01-23               7.0  2019      1   23    1.0     17
24       2019-01-05              30.0  2019      1    5    1.0     18
25       2019-01-30              10.0  2019      1   30    1.0     19
MultiIndex([(2019,  1,  1, 28.0, -97.0),
            (2019,  1,  1, 28.0, -96.0),
            (2019,  1,  1, 28.0, -83.0),
            (2019,  1,  1, 28.0, -82.0),
            (2019,  1,  1, 28.0, -81.0),
            (2019,  1,  1, 29.0, -97.0),
            (2019,  1,  1, 29.0, -96.0),
            (2019,  1,  1, 29.0, -95.0),
            (2019,  1,  1, 29.0, -94.0),
            (2019,  1,  1, 29.0, -91.0),
            ...
            (2019, 12, 31, 47.0, -94.0),
            (2019, 12, 31, 47.0, -91.0),
            (2019, 12, 31, 47.0, -80.0),
            (2019, 12, 31, 47.0, -70.0),
            (2019, 12, 31, 47.0, -69.0),
            (2019, 12, 31, 48.0, -94.0),
            (2019, 12, 31, 48.0, -90.0),
            (2019, 12, 31, 48.0, -73.0),
            (2019, 12, 31, 48.0, -72.0),
            (2019, 12, 31, 48.0, -71.0)],
           names=['YEAR', 'MONTH', 'DAY', 'LATITUDE', 'LONGITUDE'], length=101566)
                                   OBSERVATION COUNT  IBA CODE  BCR CODE  \
YEAR MONTH DAY LATITUDE LONGITUDE
2019 1     1   28.0     -97.0                     86         3         6
                        -96.0                     10         0         2
                        -83.0                     82         1        20
                        -82.0                    140         5        24
                        -81.0                     58         8        11

                                   USFWS CODE  DURATION MINUTES  COUNT
YEAR MONTH DAY LATITUDE LONGITUDE
2019 1     1   28.0     -97.0               3             543.0    6.0
                        -96.0               2             240.0    2.0
                        -83.0               0            1692.0   20.0
                        -82.0               0            3666.0   24.0
                        -81.0               2            1521.0   14.0

In [ ]:
table_agg.to_csv("Data/amegfi/2019_ebd_amegfi_Feb-2024_aggregate.csv",
          index=True)